
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --primary-color: #0F172A;
  --secondary-color: #393e46;
  --accent-color: #847cfa;
  --font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}
/* Utility classes for consistent spacing #1447E6 #222831*/
